.pagination {margin-top: 0 !important;}
.form-control { height: auto !important;}
.green-button {
  color: #fff;
  background-color: $brand-success !important;
  border-color: $brand-success !important;
}
.blue-button {
  color: #fff;
  background-color: $brand-primary !important;
  border-color: $brand-primary !important;
}
.search-title {
  font-weight: bold;
  padding-bottom: 10px !important;
  color: $brand-primary;
  clear: both;
}
.panel-orange { border-color: $brand-orange;}
.panel-orange:hover { border-color: $brand-primary;}

.pdb50 { padding-bottom: 50px !important;}
.pdt20 { padding-top: 20px !important;}
.fnt14 { font-size: 14px !important;}